Python supports the object-oriented programming paradigm. This means that Python considers data to be the focal point of the problem-solving process. In Python, as well as in any other object-oriented programming language, we define a class to be a description of what the data look like (the state) and what the data can do (the behavior). Classes are analogous to abstract data types because a user of a class only sees the state and behavior of a data item. Data items are called objects in the object-oriented paradigm. An object is an instance of a class.

### Built-in Atomic Data Types

We will begin our review by considering the atomic data types. Python has two main built-in numeric classes that implement the integer and floating point data types. These Python classes are called int and float. The standard arithmetic operations, +, -, *, /, and ** (exponentiation), can be used with parentheses forcing the order of operations away from normal operator precedence. Other very useful operations are the remainder (modulo) operator, %, and integer division, //. Note that when two integers are divided, the result is a floating point. The integer division operator returns the integer portion of the quotient by truncating any fractional part.

### Examples

In [8]:
# Python has an exponentiation operator using the double stars "**"
# Raise 2 to the power 10
print(2**10)

# Note that when two integers are divided, the result is a floating point. 
print(6/2)
print(7/2)
print(7.2/2)

# We have an integer division operator '//' . The result we see is the 
print(6//2)
print(7//2)

1024
3.0
3.5
3.6
3
3

In Python 3.0, 5 / 2 will return 2.5 and 5 // 2 will return 2. The former is floating point division, and the latter is floor division, sometimes also called integer division.

In Python 2.2 or later in the 2.x line, there is no difference for integers unless you perform a from __future__ import division, which causes Python 2.x to adopt the behavior of 3.0

Regardless of the future import, 5.0 // 2 will return 2.0 since that's the floor division result of the operation.

In [13]:
# Floating point division
print(5/2)
# FLoor division or integer division
print(5//2)
# Regardless of the future import in Python 2.x, 5.0 // 2 will return 2.0 since that's the floor division result.
print(5.0//2)
# Some more examples
print(4.2/2)
print(4.2//2)

2.5
2
2.0
2.1
2.0

Floor division always returns the integral part of the quotient. http://python-reference.readthedocs.io/en/latest/docs/operators/floor_division.html

### A few more examples

In [17]:
# This operation will return the quotient part of the result
print(3/6)

0.5

In [19]:
# The floor division will leave the portion after the period and hence the result will be zero.
print(3//6)

0

In [21]:
print(4/7)
print(4//7)

0.5714285714285714
0

### The modulo operator

In [14]:
# Always returns the remainder part of a division operation
print(7%3)

1

In [16]:
# Dividing a fractional number with modulo operator
print(7.3%3)

1.2999999999999998

In [23]:
# The following example is worth noting as the reminder from the division operation
# is the numerator of the fraction itself!!
print(3%6)

3

## The Boolean Data Type
The boolean data type, implemented as the Python bool class, will be quite useful for representing truth values. The possible state values for a boolean object are True and False with the standard boolean operators, and, or, and not.

In [28]:
True

True

In [29]:
False

False

In [30]:
True or False

True

In [31]:
True and True

True

In [32]:
True and False

False

In [27]:
not(True and False)

True

Boolean data objects are also used as results for comparison operators such as equality (==) and greater than (>>). In addition, relational operators and logical operators can be combined together to form complex logical questions. Table 1 shows the relational and logical operators with examples shown in the session that follows.

Operation Name	Operator	Explanation
less than	<	Less than operator
greater than	>	Greater than operator
less than or equal	<=	Less than or equal to operator
greater than or equal	>=	Greater than or equal to operator
equal	==	Equality operator
not equal	!=	Not equal operator
'logical and' and -> Both operands True for result to be True
'logical or' or	-> One or the other operand is True for the result to be True
'logical not' not ->Negates the truth value, False becomes True, True becomes False

In [37]:
print(5==10)
print(5<10)
print(5!=10)
print((5<10)and(5!=10))

False
True
True
True

## Identifiers in Python
Identifiers are used in programming languages as names. In Python, identifiers start with a letter or an underscore (_), are case sensitive, and can be of any length. Remember that it is always a good idea to use names that convey meaning so that your program code is easier to read and understand.

A Python variable is created when a name is used for the first time on the left-hand side of an assignment statement. Assignment statements provide a way to associate a name with a value. The variable will hold a reference to a piece of data and not the data itself. Consider the following session:

In [39]:
theSum = 0
theSum = 'zero'
theSum = True

The assignment statement theSum = 0 creates a variable called theSum and lets it hold the reference to the data object 0. In general, the right-hand side of the assignment statement is evaluated and a reference to the resulting data object is “assigned” to the name on the left-hand side. At this point in our example, the type of the variable is integer as that is the type of the data currently being referred to by theSum. If the type of the data changes, as shown above with the boolean value True, so does the type of the variable (theSum is now of the type boolean). The assignment statement changes the reference being held by the variable. This is a dynamic characteristic of Python. The same variable can refer to many different types of data.

## Built-in Collection Data Types
Python has a number of very powerful built-in collection classes. Lists, strings, and tuples are ordered collections that are very similar in general structure but have specific differences that must be understood for them to be used properly. Sets and dictionaries are unordered collections.

A list is an ordered collection of zero or more references to Python data objects. Lists are written as comma-delimited values enclosed in square brackets. The empty list is simply [ ]. Lists are heterogeneous, meaning that the data objects need not all be from the same class and the collection can be assigned to a variable as below. The following fragment shows a variety of Python data objects in a list.

In [40]:
first_list = [1,3,True,6.5]

Note that when Python evaluates a list, the list itself is returned. 

Like we discussed before, in general, the right-hand side of the assignment statement is evaluated and a reference to the resulting data object is “assigned” to the name on the left-hand side.
In the case of a list, after evaluating the expression, the list itself is returned.

However, in order to remember the list for later processing, its reference needs to be assigned to a variable.

Since lists are considered to be sequentially ordered, they support a number of operations that can be applied to any Python sequence.

### Slicing

In [48]:
# Get all elements except the first 2
first_list[2:]

[True, 6.5]

In [49]:
# Get all the first 2 elements
first_list[:2]

[1, 3]

In [ ]:
Note that

In [50]:
# Python slicing works in a way that only elements from a to b-1 will be returned 
# (where b is the upper bound index in the slice of interest)
first_list[1:3]

[3, True]

The benefit of this convention is that slicing by a:b where a and b are numbers will return b-a elements/rows/columns instead of the more complicated a-b+1. In other words, its a trade-off. If Python used a closed interval convention, we'd have to grab i through the end with i:len(x)-1 instead of i:len(x).

Refer - http://www.cs.utexas.edu/users/EWD/ewd08xx/EWD831.PDF

### Indexing

In [51]:
first_list[0]

1

In [52]:
first_list[2]

True

### Concatenation

In [53]:
second_list = [2, False, "Singer", 3.4]

In [57]:
first_list + second_list

[1, 3, True, 6.5, 2, False, 'Singer', 3.4]

### Repetition
Concatenate a repeated number of times

In [58]:
first_list * 2

[1, 3, True, 6.5, 1, 3, True, 6.5]

### Membership
in and not in are the operators to check membership

In [61]:
3 not in first_list

False

In [62]:
3 in first_list

True

### Length

In [66]:
len(first_list)

4

### Creating and Assigning Lists

In [75]:
# Create an empty list
empty_list = []

In [76]:
empty_list

[]

In [78]:
empty_list = ['Slim Shady','Marshall Mathers','Eminem']

In [79]:
empty_list

['Slim Shady', 'Marshall Mathers', 'Eminem']

In [68]:
# Adding an element at an index
second_list

[2, False, 'Singer', 3.4]

In [69]:
second_list[2] = 'Yolo'

In [70]:
second_list

[2, False, 'Yolo', 3.4]

Sometimes, you will want to initialize a list. This can quickly be accomplished by using repetition. For example,

In [133]:
# Create a dummy list with 5 zeroes. Instead of manually typing the 0s, we could use repetition.
third_list = [0] *5

In [134]:
third_list

[0, 0, 0, 0, 0]

In [135]:
fourth_list = third_list * 3

In [136]:
fourth_list

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

### This is one way of assigning one list to another. But what if made one list refer to another list and then we made changes to the original?? Its something important to try and learn:

In [137]:
# A second method is
fifth_list = [third_list] * 4

In [138]:
fifth_list

[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]

The variable 'fifth_list' holds a collection of four references to the original list called third_list. Note that a change to one element of third_list shows up in all three occurrences in fifth_list.

Thats just Amazing!!!! Lets try that:

In [139]:
third_list

[0, 0, 0, 0, 0]

In [140]:
third_list[4] = 1

In [141]:
third_list

[0, 0, 0, 0, 1]

In [142]:
fifth_list

[[0, 0, 0, 0, 1], [0, 0, 0, 0, 1], [0, 0, 0, 0, 1], [0, 0, 0, 0, 1]]

In [143]:
# Assign to a slice in the list. Remember!! Only iterables can be assigned as values.

# Lets replace elements 1 through 3 i.e  indices 1 and 2 with an iterable.
# valid syntax third_list[1:3] = [10] * n works too
third_list[1:3] = [10]

In [145]:
third_list

[0, 10, 0, 1]

#### Well that didn't work as intended. Lets assign a 2 element list to replace that slice of interest

In [147]:
third_list[1:3] = [10] *2

In [148]:
third_list

[0, 10, 10, 1]

In [150]:
# Now, lets check the fifth_list
fifth_list

[[0, 10, 10, 1], [0, 10, 10, 1], [0, 10, 10, 1], [0, 10, 10, 1]]

**********
This little feature right here is called Broadcasting in Python. Because as we know, the variable 'fifth_list' holds a collection of four references to the original list 'third_list' and any change to one element of the original shows up in all three occurrences in the referencing list..
**********

In [117]:
# The line below will throw an erro TypeError: can only assign an iterable
# third_list[1:3] = 10

In [132]:
[10] *1

[10]

### Methods supported by list data structures