Tuples are very similar to lists in that they are heterogeneous sequences of data. The difference is that a tuple is immutable, like a string. A tuple cannot be changed. Tuples are written as comma-delimited values enclosed in parentheses. As sequences, they can use any operation described for lists. For example,

In [7]:
myTuple = (2,True,4.96)

#### Finding the length

In [8]:
len(myTuple)

3

#### Indexing

In [10]:
myTuple[0]

2

#### Repetitive Concatenation

In [12]:
myTuple * 3

(2, True, 4.96, 2, True, 4.96, 2, True, 4.96)

#### Slicing

In [13]:
myTuple[0:2]

(2, True)

However, if we try to change an item in a tuple, we will get an error. Note that the error message provides location and reason for the problem.

In [15]:
myTuple[1]=False

TypeError: 'tuple' object does not support item assignment

### Difference between a list and a tuple and a set

In [16]:
a = [1,2,3]

In [17]:
b = (1,2,3)

In [18]:
c = {1,2,3}

In [19]:
type(a)

list

In [20]:
type(b)

tuple

In [21]:
type(c)

set

## So what is a set??
A set is an unordered collection of zero or more immutable Python data objects. Sets do not allow duplicates and are written as comma-delimited values enclosed in curly braces. The empty set is represented by set(). Sets are heterogeneous, and the collection can be assigned to a variable as below.

Even though sets are not considered to be sequential, they do support a few of the familiar operations presented earlier.

In [24]:
#### No Duplicates in sets : Example

In [25]:
some_set = {13,55,13,57,84,12}

In [26]:
some_set

{12, 13, 55, 57, 84}

Notice that the element 13, though occurs twice in our assignment, has been ignored from the final set.

In [28]:
my_set = {1,2,3,4}

#### Membership

In [29]:
1 in my_set

True

In [31]:
len(my_set) #Length

4

## Interesting!!
### Set concatenation and some cool features

In [32]:
a = {1,2,3,4,5}
b = {6,7,8,9,10}

In [34]:
a | b # Returns a new set with all elements from both sets

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [35]:
a & b # Returns a new set with only those elements common to both sets

set()

Since these 2 sets had nothing in common, it returned an empty set represented by set().
So lets add an element to one of these sets -- a common element

In [36]:
a.add(7)

In [37]:
a

{1, 2, 3, 4, 5, 7}

In [38]:
a & b

{7}

In [39]:
a - b # Returns a new set with all items from the first set not in second

{1, 2, 3, 4, 5}

Since 7 is part of the second set, it returns all other elements of set a

In [40]:
a <= b # Asks whether all elements of the first set are in the second

False

Since not all elements of a were present in b, it returned False. So lets see if a set that contains elements that are part of another set as well return True.

In [41]:
c = {6,7,9}

In [42]:
c <= b

True

Like we knew, it returned True

### Mathematical Operations on Sets
Sets support a number of methods that should be familiar to those of us who have worked with them in a mathematics setting.

In [49]:
#### Union
# Returns a new set with all elements from both sets
a.union(c)

{1, 2, 3, 4, 5, 6, 7, 9}

In [50]:
# Intersection
# Returns a new set with only those elements common to both sets
c.intersection(b)

{6, 7, 9}

In [51]:
# Difference
# Returns a new set with all items from first set not in second
c.difference(b)

set()

In [52]:
b.difference(c)

{8, 10}

In [53]:
# issubset
# Asks whether all elements of one set are in the other
c.issubset(b)

True

In [54]:
# Remove
# Removes item from the set
a.remove(7)

In [55]:
a

{1, 2, 3, 4, 5}

In [56]:
# Pop
# Removes an arbitrary element from the set
a.pop()

1

In [57]:
a

{2, 3, 4, 5}

In [58]:
a.pop()

2

In [59]:
a

{3, 4, 5}

In [60]:
# Clear
# Removes all elements from a set
a.clear()

In [61]:
a

set()