In Python, anonymous function is a function that is defined without a name.

While normal functions are defined using the def keyword, in Python anonymous functions are defined using the lambda keyword.

Hence, anonymous functions are also called lambda functions.

### Syntax of Lambda Function
lambda arguments: expression

Lambda functions can have any number of arguments but only one expression. The expression is evaluated and returned. Lambda functions can be used wherever function objects are required.

In [2]:
# Here is an example of lambda function that doubles the input value.
double = lambda x: x * 2

# Output: 10
print(double(5))

10

Here x is the argument and x * 2 is the expression that gets evaluated and returned.

This function has no name. It returns a function object which is assigned to the identifier double. We can now call it as a normal function. The statement

double = lambda x: x * 2

is nearly the same as:

In [4]:
def double(x):
    return x * 2

### Use of Lambda Function
We use lambda functions when we require a nameless function for a short period of time.

In Python, we generally use it as an argument to a higher-order function (a function that takes in other functions as arguments). Lambda functions are used along with built-in functions like filter(), map() etc.

### Example use with filter()
The filter() function in Python takes in a function and a list as arguments.

The function is called with all the items in the list and a new list is returned which contains items for which the function evaluates to True.

Here is an example use of filter() function to filter out only even numbers from a list.

In [5]:
# Program to filter out only the even items from a list

my_list = [1, 5, 4, 6, 8, 11, 3, 12]

new_list = list(filter(lambda x: (x%2 == 0) , my_list))

print(new_list)

[4, 6, 8, 12]

In [6]:
## Lets try something along these lines
## Get all even numbers between 1 and 100 (inclusive)
even_list = list(filter(lambda x: (x%2 == 0) , range(1,101)))

Now the even_list will contain only the even numbers between this range.

The function (lambda function) is called with all the items in the range and a new list is returned which contains items (only the even numbers) for which the function evaluates to True.
.i.e the x%2 == 0 expression.

In [106]:
### Find out which one of these is divisible by 13

# Take a list of numbers
my_list = [12, 65, 54, 39, 102, 339, 221,]

# use anonymous function to filter
result = list(filter(lambda x: (x % 13 == 0), my_list))

# display the result
print("Numbers divisible by 13 are",result)

Numbers divisible by 13 are [65, 39, 221]

### Example use with map()
The map() function in Python takes in a function and a list.

The function is called with all the items in the list and a new list is returned which contains items returned by that function for each item. That is, map() applies the function to all the elements of the sequence. It returns a new list with the elements changed by the function.

Here is an example use of map() function to double all the items in a list.

In [19]:
## Lets try and see how the even numbers thingy that we did with filter work with map.
## Get all even numbers between 1 and 10 (inclusive)
even_list = list(map(lambda x: (x%2 == 0) , range(1,11)))

In [14]:
even_list

[False, True, False, True, False, True, False, True, False, True]

As we could see, the resultant list is a boolean list where it contains True for every even number in the range given as input to the lambda function to work with at the corresponding indices and False for every odd numbers likewise. The expression x%2==0 gets evaluated and returns either True or False and map takes it and puts into a list because that's exactly what it does. It applies the function to all the elements of the sequence and it returns the new list with the elements changed by the function.

In [79]:
## The same case using list comprehension
even_list = [(x%2 == 0) for x in range(1,11)]

In [81]:
even_list

[False, True, False, True, False, True, False, True, False, True]

In [82]:
## The equivalent of filter could be achieved in list comprehension as follows
even_list = [x for x in range(1,11) if (x%2==0)]

In [83]:
even_list

[2, 4, 6, 8, 10]

## Thats freaking amazing!!!!

#### Examples with Map

##### Convert Farenheit to Celcius

In [96]:
temp_in_farenheit = [103,85,100,97,78,96,95,84]
temp_in_celcius = list(map(lambda x:((x-32)*(5/9)), temp_in_farenheit))

In [97]:
temp_in_celcius

[39.44444444444444,
 29.444444444444446,
 37.77777777777778,
 36.111111111111114,
 25.555555555555557,
 35.55555555555556,
 35.0,
 28.88888888888889]

In [37]:
# There is too many decimal values and it can be reduced easily by using list-comprehension as follows:
celcius = ["%.2f"%item for item in temp_in_celcius]

In [38]:
# We could take this up a notch and do something like this:
celcius = ["%.2f"%item for item in list(map(lambda x: ((x-32)*(5/9)), temp_in_farenheit))]

In [63]:
celcius

['39.44', '29.44', '37.78', '36.11', '25.56', '35.56', '35.00', '28.89']

In [73]:
## The same case using list comprehension
celcius_list = [(x-32)*(5/9) for x in temp_in_farenheit]

In [74]:
celcius_list

[39.44444444444444,
 29.444444444444446,
 37.77777777777778,
 36.111111111111114,
 25.555555555555557,
 35.55555555555556,
 35.0,
 28.88888888888889]

In [77]:
## The same case using list comprehension and formatting
celcius_list = ["%.2f"%((x-32)*(5/9)) for x in temp_in_farenheit]

In [78]:
celcius_list

['39.44', '29.44', '37.78', '36.11', '25.56', '35.56', '35.00', '28.89']

In [98]:
## It all works out great!!

In [101]:
# Instead of a list of inputs we can even have a list of functions!
def multiply(x):
    return (x*x)
def add(x):
    return (x+x)

funcs = [multiply, add]
for i in range(5):
    value = list(map(lambda x: x(i), funcs))
    print(value)

[0, 0]
[1, 2]
[4, 4]
[9, 6]
[16, 8]

map in Python 3 is equivalent to this:

def map(func, iterable):
    for i in iterable:
        yield func(i)
        
and the only difference in Python 2 is that it will build up a full list of results to return all at once instead of yielding.

[func(i) for i in iterable]

##### Lets try and understand that
"turn a string into an array", by 'array' you probably want either a tuple or a list (both of them behave a little like arrays from other languages) -

In [41]:
a = "hello, world"

In [42]:
list(a)

['h', 'e', 'l', 'l', 'o', ',', ' ', 'w', 'o', 'r', 'l', 'd']

In [43]:
tuple(a)

('h', 'e', 'l', 'l', 'o', ',', ' ', 'w', 'o', 'r', 'l', 'd')

In [44]:
## So a string could be converted to a list with each character in the string as one element of the list.
## A use of map here would be if we want to start with a list of strings instead of a single string - map can listify all of them individually:
a = ["guitar", "drums", "bass"]

In [54]:
list(map(list, a))

[['g', 'u', 'i', 't', 'a', 'r'],
 ['d', 'r', 'u', 'm', 's'],
 ['b', 'a', 's', 's']]

Note that map(list, a) is equivalent in Python 2, but in Python 3 we need the list() call if we want to do anything other than feed it into a for loop (or a processing function such as sum that only needs an iterable, and not a sequence).

In [56]:
## For example
for i in map(list,a):
    print(i)

['g', 'u', 'i', 't', 'a', 'r']
['d', 'r', 'u', 'm', 's']
['b', 'a', 's', 's']

In [57]:
## The output is the same as
for i in list(map(list,a)):
    print(i)

['g', 'u', 'i', 't', 'a', 'r']
['d', 'r', 'u', 'm', 's']
['b', 'a', 's', 's']

In [59]:
len(list(map(list,a)))

3

But know that a list comprehension is usually preferred:

In [62]:
[list(x) for x in a]

[['g', 'u', 'i', 't', 'a', 'r'],
 ['d', 'r', 'u', 'm', 's'],
 ['b', 'a', 's', 's']]

### Reduce Function

The function reduce(func, seq) continually applies the function func() to the sequence seq and it returns a single value finally.

If seq = [ s1, s2, s3, ... , sn ], calling reduce(func, seq) works like this:
1. At first the first two elements of seq will be applied to func, i.e. func(s1,s2) The list on which reduce() works looks now like this: [ func(s1, s2), s3, ... , sn ]
2. In the next step func will be applied on the previous result and the third element of the list, i.e. func(func(s1, s2),s3)
The list looks like this now: [ func(func(s1, s2),s3), ... , sn ]
3. Continue like this until just one element is left and return this element as the result of reduce()
We illustrate this process in the following example:

In [88]:
## Reduce has been removed in Python 3
from functools import reduce
reduce(lambda x,y: x+y, [1,3,5,7])

16

In [107]:
# Python Program to display the powers of 2 using anonymous function

# Change this value for a different result
terms = 10

# Uncomment to take number of terms from user
#terms = int(input("How many terms? "))

# use anonymous function
result = list(map(lambda x: 2 ** x, range(terms)))

# display the result

print("The total terms is:",terms)
for i in range(terms):
   print("2 raised to power",i,"is",result[i])

The total terms is: 10
2 raised to power 0 is 1
2 raised to power 1 is 2
2 raised to power 2 is 4
2 raised to power 3 is 8
2 raised to power 4 is 16
2 raised to power 5 is 32
2 raised to power 6 is 64
2 raised to power 7 is 128
2 raised to power 8 is 256
2 raised to power 9 is 512

## List Comprehension

Print all powers of 2

In [127]:
result = [2**x for x in range(0,11)]

In [128]:
result

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024]

In [129]:
for i in range(0,11):
    print('2 raised to the power {} is {}'.format(i,result[i]))

2 raised to the power 0 is 1
2 raised to the power 1 is 2
2 raised to the power 2 is 4
2 raised to the power 3 is 8
2 raised to the power 4 is 16
2 raised to the power 5 is 32
2 raised to the power 6 is 64
2 raised to the power 7 is 128
2 raised to the power 8 is 256
2 raised to the power 9 is 512
2 raised to the power 10 is 1024